* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #131A22;
    color: white;
    padding: 20px;
    text-align: center;
}

#logo{
    position: absolute;
    margin: 0px;
    left: -20px;
    top: -20px;
}

h1, h2 {
    font-size: 24px;
}

main {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.product-list {
    flex: 1;
}

.product {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.product button{
    background-color: #131A22;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 3px;
}

.product button:hover{
    background-color: #0e74ea;
}


.product img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.product .price {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.cart {
    flex: 0 0 30%;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
}

.cart h2 {
    font-size: 20px;
    margin-bottom: 20px;
}


.cart-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-total p {
    font-size: 18px;
}

.cart-total button {
    background-color: #131A22;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cart-total button:hover {
    background-color: #0e74ea;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .cart {
        width: 100%;
    }
}
